* {
    background-color: rgb(224, 172, 105);
    font-family: "jokerman";
    color: azure;
    margin: 0;
    padding: 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
    padding: 20px;
    border: inset white;
}

#box {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

#im {
    width: 12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border: inset greenyellow;
}

#im:hover{
    transform: scale(1.09);
}

#name {
    margin-left: 16%;
    margin-top: 0;
    border-radius: 9px;
    border: inset pink;

}

.skill-box {
    background-color: blue;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}
.skill-box:hover {
    transform: scale(1.34);
}


h2, td {
    color: #fff;
    font-size: 1.1rem;
}


.icon {
    font-size: 1.5rem;
    margin-right: 10px;
    transition: transform 0.3s, color 0.3s;
}
.icon:hover {
    transform: scale(1.2);
    color: greenyellow;
}

#footer {
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    margin-top: 20px;
    border-radius: 0 0 12px 12px;
}
